html {
  background-color: rgb(220, 207, 241);
}

.body {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  grid-template-areas: 
  "head head head"
  "left input right"
  "left output right"
  "foot foot foot";
}

.input {
  grid-area: input;
}

.output {
  grid-area: output;  
}

.display {
  background-color: aliceblue;
}

.right {
  grid-area: right;
}

.left {
  grid-area: left;
}